@import "tailwindcss";

@theme {
  /* Setup Warna Custom */
  --color-brand-green: #174C3C;
  --color-brand-dark: #0F352A;
  --color-brand-cream: #F6F1E8;
  --color-brand-beige: #E8DDCC;
  --color-brand-gold: #B89555;
  --color-brand-charcoal: #1E2421;
  --color-brand-muted: #66706A;

  /* Setup Font Custom */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

/* Mengatur background dan warna teks dasar */
body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-charcoal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-brand-dark);
}